.chat {
  position: absolute;
  bottom: 0;
  left: 0;
  border: white solid 1px;
  background-color: white;
}

/* #chat-text {
  width: 350px;
  height: 300px;
} */

#chat-input {
  height: 40px;
  margin: 5px;
}

#chat-text {
  width: 320px;
}
