body,html {
  background: url(pacman.PNG) no-repeat center center fixed;
  background-color: white;
  background-size: cover;
}

.game {
  width: 90%;
  margin: 0 auto;
  margin: auto auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto auto;
  width: 740px;
  height: 460px;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.score {
  height: 80px;
  width: 400px;
  margin: auto auto;
  margin-top: 25px;
  border: solid #0000cc;
}
/* 702536 */

.pac-dot {
  background-color: white;   
  border: 8px solid black;
  box-sizing: border-box;
  border-radius: 100%;
}

.wall {
  background-color: #0000cc;
  outline:1px solid #0000cc;
  z-index: 10;
}

.blank {
  background: black;
}

.power-pellet {
  background-color: white;   
  border: 4px solid black;
  box-sizing: border-box;
  border-radius: 100%;
}

.pacman {
  background-color: yellow;
  border: none;
  border-radius: 50%;
  z-index: 10000000000;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}

.pacman-down {
  transform: rotate(90deg);
}

.pacman-left {
  transform: rotate(180deg);
}

.pacman-up {
  transform: rotate(270deg);
}

.pacman-right {
  transform: rotate(360deg);
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.blinky2 {
  background: red;
}

.pinky2 {
  background: pink;
}

.inky2 {
  background: cyan;
}

.clyde2 {
  background: orange;
}

#signDiv-username {
  text-align:center;
  font-size:28px;
  font-family: "forte";
  color:rgb(116, 108, 2);
  width: 50px;
  border: 5px solid rgba(42, 12, 212, 0.26);
  height:35px;
  width:250px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.822);
  margin-left: -30px;
  margin-top:30px;
}

#signDiv-password {
  text-align:center;
  font-size:28px;
  font-family: "forte";
  color:rgb(116, 108, 2);
  width: 50px;
  border: 5px solid rgb(42, 12, 212, 0.26);
  height:35px;
  width:250px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.822);
  margin-left: -28px;
  margin-top:20px;
}

#signDiv-signIn {
  font-size:28px;
  font-family: "forte";
  color:rgb(116, 108, 2);
  border: 5px solid rgb(42, 12, 212, 0.26);
  background: rgba(255, 255, 255, 0.822);
  margin-left: 600px;
  margin-top:15px;
  height:50px;
  width:140px;
}

#signDiv-signUp {
  font-size:28px;
  font-family: "forte";
  color:rgb(116, 108, 2);
  border: 5px solid rgb(42, 12, 212, 0.26);
  background: rgba(255, 255, 255, 0.822);
  margin:20px;
  height:50px;
  width:140px;
}

.pacc {
  color:rgb(255, 238, 4);
  font-family: "forte";
  margin-left: 450px;
  font-size: 50px;
}

.userr {
  color:rgb(255, 238, 4);
  font-family: "forte";
  margin-left:550px;
  margin-top:10px;
  float:left;
  
}

.passs {
  color:rgb(255, 238, 4);
  font-family: "forte";
  margin-left:-130px;
  margin-top:95px;
  float:left ;
}