body {
    background-image: url("img/bg.jpg");
   }
     /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* The navigation bar */
.navbar {
  overflow: hidden;
    
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 10%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  width:6%;
  height: 100%;
  font-size: 20px;
}


/* Change background on mouse-over */
.navbar a:hover {
  background: rgb(248, 225, 15);
  color: black;
}

/* Main content */
.main {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}
body {
    margin: 0px;
 }

 .section-header {
    margin-top:50px;
 }

 .pacrush {
     color:yellow;
     margin-left:750px;
     font-size:60px;
     margin-top:-150px;
 }

 .newmulti {
    color: yellow;
    margin-left:600px;
    font-size:40px;
    margin-top:-20px;
 }

 .abtgame {
  font-family: 'Galada', cursive;
  color:rgb(254, 255, 220);
  font-size:30px;
  margin-top:10px;
}

 .abtgame1 {
  font-family: 'Galada', cursive;
  color:rgb(254, 255, 220);
  font-size:30px;
}

.row{
  border: solid 10px #000;
  background-color: rgba(0, 0, 0, 0.6);
  width:90%;
  margin-top: 110px;
  margin-bottom: 20px;
  margin-left: auto ;
  margin-right: auto ;
}
.block{
  display:inline-block;
}
.intro-container a{
  font-family: 'Galada', cursive;
  border-radius: 12px;
  border: solid 3px rgb(255, 255, 255);
  width:400px;
  background-color: rgba(0, 0, 0, 0.8);
  
  color: rgb(255, 217, 0);
  text-align: center;
  text-decoration: none;
  font-size: 70px;
  position: absolute;
  top: 440px;
  left:550px;
}

.intro-container a:hover{
  font-size: 75px;
}