body {
  background: url('assets/pacman.png') no-repeat center center fixed;
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 400px;
  height: 460px;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: white;   
  border: 8px solid black;
  box-sizing: border-box;
  border-radius: 100%;
  z-index: 1000;
}

.wall {
  background-color: black;
  outline:1px solid blue;
}

.power-pellet {
  background-color: white;   
  border: 4px solid black;
  box-sizing: border-box;
  border-radius: 100%;
}