body {
  background: url('assets/pacman.PNG') no-repeat center center fixed;
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 400px;
  height: 460px;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: white;   
  border: 8px solid black;
  box-sizing: border-box;
  border-radius: 100%;
}

.wall {
  background-color: black;
  outline:1px solid blue;
  z-index: 10;
}

.power-pellet {
  background-color: white;   
  border: 4px solid black;
  box-sizing: border-box;
  border-radius: 100%;
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  z-index: 100;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}