
*{
    padding: 0;
    margin: 0;
}
/*------------------background-------*/
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/*------------------clickable logo-------*/
#logo{
    position: absolute;
    left: 1%;
    top: 1%;
    width: 125px;
    height: 125px;
}
#logo:hover{
    width: 130px;
    height: 130px;
}

/*------------------clickable heading geometry dash-------*/
#geometrydashbutton{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 150px;
    top: 0%;
    width: 980px;
    height: 115px;

}
#geometrydashbutton:hover{
    width: 990px;
    height: 120px;
}

/*------------------buttons-------*/
#character {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 330px;
    top: 220px;
    width: 125px;
    height: 130px;
}

#character:hover{
    width: 130px;
    height: 135px;
}

#play {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 545px;
    top: 185px;
    width: 190px;
    height: 185px;
}

#play:hover{
    width: 200px;
    height: 200px;
}

#settings {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 220px;
    width: 125px;
    height: 130px;

}

#settings:hover{
    width: 130px;
    height: 135px;
}
/*------------------links-------*/
#facebook {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 30px;
    bottom: 50px;
    width: 40px;
    height: 40px;
}

#facebook:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#twitter {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 97px;
    bottom: 50px;
    width: 40px;
    height: 40px;
}

#twitter:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#youtube {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 164px;
    bottom: 50px;
    width: 40px;
    height: 40px;

}

#youtube:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
/*------------------morebuttons-------*/
#achievements {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 31.5%;
    bottom: 0.5%;
    width: 95px;
    height: 95px;
}

#achievements:hover{
    width: 100px;
    height: 100px;
}

#settings1 {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 41.5%;
    bottom: 0.5%;
    width: 95px;
    height: 95px;
}

#settings1:hover{
    width: 100px;
    height: 100px;
}

#stats {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 51.5%;
    bottom: 0.5%;
    width: 95px;
    height: 95px;
}

#stats:hover{
    width: 100px;
    height: 100px;
}

#music {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 61.5%;
    bottom: 0.5%;
    width: 95px;
    height: 95px;

}

#music:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#moregames {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 1%;
    bottom: 0.5%;
    width: 170px;
    height: 110px;

}

#moregames:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#daily {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 2.75%;
    top: 35%;
    width: 110px;
    height: 105px;

}

#daily:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#game{
    width: 1000px;
    height: 400px;
    border: 1px solid black;
}
#character1{
    width: 50px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 300px;
}

.animate{
    animation: jump 500ms linear;
}

@keyframes jump{
    0%{top: 300px;}
    30%{top:200px;}
    70%{top:200px;}
    100%{top: 300px;}
}

#block{
    width: 50px;
    height: 50px;
    background-color: green;
    position: relative;
    top: 250px;
    left: 950px;
    animation: block 2s linear infinite;
}

@keyframes block{
    0%{left: 950px;}
    100%{left: -50px;}
}