/* body {
  background: url('images/pacman.png') no-repeat center center fixed;
  background-size: cover;
} */

input {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
}

button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

button:hover {
  background-color: #79d7e4;
}

button.turn:hover {
  background-color: #eaeaea;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}

li {
  padding: 10px 10px 10px 10px;
}

canvas {
  display: block;
  border: 5px dotted indianred;
  margin: 10px auto;
}

.controls-wrapper {
  background-color: rgb(255, 255, 255);
  width: 400px;
  margin: 20px auto;
  border: 1px solid lightgrey;
}

.chat-wrapper {
  padding: 10px;
}

.chat-wrapper form {
  display: flex;
}

.chat-wrapper form input {
  font-size: 1.0rem;
  margin: 0 10px 0 0;
  padding: 0 5px;
  flex-grow: 1;
}

.chat-wrapper form button {
  width: 80px;
}

#events {
  height: 150px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 400px;
  height: 460px;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: white;   
  border: 8px solid black;
  box-sizing: border-box;
  border-radius: 100%;
}

.wall {
  background-color: black;
  outline:1px solid blue;
  z-index: 10;
}

.power-pellet {
  background-color: white;   
  border: 4px solid black;
  box-sizing: border-box;
  border-radius: 100%;
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  z-index: 100;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}

.pacman-down {
  transform: rotate(90deg);
}

.pacman-left {
  transform: rotate(180deg);
}

.pacman-up {
  transform: rotate(270deg);
}

.pacman-right {
  transform: rotate(360deg);
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}