
*{
    padding: 0;
    margin: 0;
}
/*------------------background-------*/
body{
    background-image: url('GeometryDashMenu.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
/*------------------clickable logo-------*/
#logo img{
    width: 10%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}
#logo a {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 125px;
    height: 125px;
}

/*------------------clickable heading geometry dash-------*/
#geometrydashbutton{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 150px;
    top: 35px;
    width: 980px;
    height: 115px;

}

/*------------------buttons-------*/
#character {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 330px;
    top: 240px;
    width: 125px;
    height: 100px;
}

#character:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#game {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 545px;
    top: 205px;
    width: 190px;
    height: 160px;
}

#game:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#settings {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 240px;
    width: 125px;
    height: 100px;

}

#settings:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
/*------------------links-------*/
#facebook {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 30px;
    bottom: 83px;
    width: 40px;
    height: 40px;
}

#facebook:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#twitter {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 97px;
    bottom: 83px;
    width: 40px;
    height: 40px;
}

#twitter:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#youtube {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 164px;
    bottom: 83px;
    width: 40px;
    height: 40px;

}

#youtube:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
/*------------------morebuttons-------*/
#achievements {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 415px;
    bottom: 50px;
    width: 75px;
    height: 70px;
}

#settings1 {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 540px;
    bottom: 50px;
    width: 75px;
    height: 70px;
}

#stats {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 540px;
    bottom: 50px;
    width: 75px;
    height: 70px;
}


#music {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 415px;
    bottom: 50px;
    width: 75px;
    height: 70px;

}


#moregames {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 110px;
    height: 90px;

}

#moregames:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#daily {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 55px;
    top: 230px;
    width: 70px;
    height: 70px;

}

#daily:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
