
/*------------------background-------*/
body{
    background-image: url('image1.jpeg');
}
/*------------------formatting the logo-------*/
#logo {
    width: 10%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}
/*------------------buttons-------*/
#buttons {
    position: absolute;
    top: 20px;
    left: 150px;
}

#character {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 243px;
    top: 203px;
    width: 101px;
    height: 101px;
}

#character:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#game {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 400px;
    bottom: 210px;
    width: 160px;
    height: 160px;
}

#game:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#settings {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 243px;
    top: 203px;
    width: 101px;
    height: 101px;

}

#settings:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
