
/*------------------background-------*/
body{
    background-image: url('GeometryDashMenu.png');
    background-repeat: no-repeat;
    background-size: 100% 430%;
}
/*------------------formatting the logo-------*/
#logo {
    width: 10%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}
/*------------------buttons-------*/
#character {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 330px;
    top: 240px;
    width: 125px;
    height: 100px;
}

#character:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#game {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 545px;
    top: 205px;
    width: 190px;
    height: 160px;
}

#game:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#settings {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 240px;
    width: 125px;
    height: 100px;

}

#settings:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
