
*{
    padding: 0;
    margin: 0;
}
/*------------------background-------*/
body{
    /*background-image: url('GeometryDashMenu.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/*------------------clickable logo-------*/
#logo img{
    width: 10%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}
#logo a {
    color: white;
    text-decoration: none;
    position: absolute;
    top:0%;
    left:0%;
    width: 125px;
    height: 125px;
}

/*------------------clickable heading geometry dash-------*/
#geometrydashbutton{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 150px;
    top: 0%;
    width: 980px;
    height: 115px;

}

/*------------------buttons-------*/
#character {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 330px;
    top: 220px;
    width: 125px;
    height: 130px;
}

#character:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#game {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 545px;
    top: 185px;
    width: 190px;
    height: 185px;
}

#game:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#settings {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 220px;
    width: 125px;
    height: 130px;

}

#settings:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
/*------------------links-------*/
#facebook {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 30px;
    bottom: 50px;
    width: 40px;
    height: 40px;
}

#facebook:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#twitter {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 97px;
    bottom: 50px;
    width: 40px;
    height: 40px;
}

#twitter:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#youtube {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 164px;
    bottom: 50px;
    width: 40px;
    height: 40px;

}

#youtube:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
/*------------------morebuttons-------*/
#achievements {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 31.5%;
    bottom: 0.5%;
    width: 95px;
    height: 95px;
}

#achievements:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#settings1 {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 41.5%;
    bottom: 0.5%;
    width: 95px;
    height: 95px;
}

#settings1:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#stats {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 51.5%;
    bottom: 0.5%;
    width: 95px;
    height: 95px;
}

#stats:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#music {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 61.5%;
    bottom: 0.5%;
    width: 95px;
    height: 95px;

}

#music:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#moregames {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 1%;
    bottom: 0.5%;
    width: 170px;
    height: 110px;

}

#moregames:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#daily {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 2.75%;
    top: 35%;
    width: 110px;
    height: 105px;

}

#daily:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
